:root {
  --cardtext: #006C9A;
  --bg: #D3D3D3;
  --hover: #003e59;
  --cardbg: #C7C7C7;
  --cardbghover: #A2A2A2;
  --error: #008bc6;
  --nav-width: 300px;
  --navbg:  #A2A2A2;
  --accent: #3c758e;
  --bright-hover: #007db3;
}

/* Clear any browser inserted css */
/* * {
  padding: 0;
  margin: 0;
} */

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

